body {
    background-color: #212121;
    color: #fff;
}

a {
    color: #F16824;
}
a:hover {
    color: darkorange;
}

.light-key {
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 300;
    opacity: 0.8;
}

.light-text {
    opacity: 0.6;
}

.title {
    font-family: 'Press Start 2P', cursive;
}

.row {
    padding-bottom: 4px;
}

.header {
    padding-bottom: 20px;
    bottom: 0px;
}