body {
    background-color: #212121;
    color: #fff;
}

a {
    color: #F16824;
}
a:hover {
    color: darkorange;
}

.light-key {
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 300;
    opacity: 0.8;
}

.light-text {
    opacity: 0.6;
}

.title {
    font-family: 'Press Start 2P', cursive;
}

.row {
    padding-bottom: 4px;
}

.header {
    padding-bottom: 20px;
    bottom: 0px;
}

.flexed {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

.card {
    text-align: center;
    margin-bottom: 8px;
}

.card-rows {
    padding-top: 4px;
    padding-bottom: 4px;
}

#teamProgress {
	margin-top: 20px;
	height: 30px;
	line-height: 30px;
	font-size: 20px;
}

.progress {
	background-color: #323232;
	position: relative;
}

.progress-bar-success {
	background-color: #77b300;
}

#teamProgress .progress-bar {
	line-height: inherit;
	font-size: inherit;
}

.individual-progress.progress {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.progress-fundraising-link {
	display: none;
	text-align: center;
}

.progress-fundraising-link a {
	position: absolute;
	display: block;
	width: 100%;
	top: 0;
	left: 0;
	background-color: #77b30088;
	color: #fff;
	font-weight: bold;
}

.progress-fundraising-link a:hover {
	text-decoration: none;
}

.progress:hover .progress-fundraising-link {
	display: block;
}

.progress-fundraising-link .glyphicon {
	top: 3px;
}
