{% extends "bootstrap/base.html" %}
{% block title %}HumanGeo Extra Life{% endblock %}

{% block styles %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link rel="stylesheet" href="{{ url_for('.static', filename='app.css')}}">
<link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %}

{% block content %}
  <div class="container header">
    <div class="row flexed">
      <div class="col-md-2">
        Join us on November 5th and watch the team raise money for great children's charities! You can see our team's progress
        <a href="http://www.extra-life.org/index.cfm?fuseaction=donorDrive.team&teamID=29327">here</a>!
      </div>
      <div class="col-md-4">
        <img class="img-responsive" src="{{ url_for('.static', filename='images/Extra Life_whiteblue.png') }}">
      </div>
      <div class="col-md-6">
        <img class="img-responsive" src="{{ url_for('.static', filename='images/logo.png') }}">
      </div>
    </div>
    <hr class="small" />
  </div>
  <div class="">
  {% for s in streams %}
      <div class="col-md-4 card">
        <div class="embed-responsive embed-responsive-16by9">
          <!--<img class="img-responsive" src="{{ s.preview }}"/>-->
          <iframe class="embed-responsive-item"
              src="http://player.twitch.tv/?channel={{ s.username }}"
              height="360"
              width="640"
              frameborder="0"
              scrolling="no"
              allowfullscreen="true">
          </iframe>
        </div>
        <div class="card-rows">
          <h3 class="title">{{ s.username }}</h3>
          <h5 class="light-key">Playing:</span> {{ s.playing }}</h5>
          <div class="flexed">
            <div class="light-text"><i class="glyphicon glyphicon-user"></i> {{ s.viewers }}</div>
            <div class="light-text"><i class="glyphicon glyphicon-film"></i> {{ s.fps | round(2) }}</div>
            <div class="light-text"><i class="glyphicon glyphicon-eye-open"></i> {{ s.views }}</div>
            <a class="light-key" href="{{ s.url }}" target="_blank">Watch on Twitch</a>
          </div>
        </div>
        {% if s.participant_id %}
        &nbsp;|&nbsp; <a class="light-key" href="{{ s.donate }}" target="_blank">Donate</a>
        {% endif %}
      </div>
  {% endfor %}
  </div>
{% endblock %}
